In [13]:
import numpy as np
import pandas as pd

import os
import time
import cv2
import glob
import matplotlib.pyplot as plt

image_file_names = glob.glob('dataset_grip_2/*/*.jpg')

image_file_names = pd.Series(image_file_names)

images_df = pd.DataFrame()
images_df['Filename'] = image_file_names.map(lambda img_name: img_name.split("\\")[2])
images_df['ClassId'] = image_file_names.map(lambda img_name: int(img_name.split("\\")[1]))

images_df

                              Filename  ClassId
0    [192, 134, 48, 637, 277, 621].jpg        8
1   [192, 347, 129, 635, 272, 588].jpg        8
2    [192, 495, 43, 634, 268, 516].jpg        8
3   [192, 544, 217, 614, 240, 541].jpg        8
4   [192, 571, 235, 635, 253, 499].jpg        8
5   [192, 631, 161, 688, 307, 483].jpg        8
6    [192, 703, 43, 629, 271, 614].jpg        8
7   [192, 891, 154, 651, 289, 463].jpg        8
8    [193, 284, 43, 662, 292, 347].jpg        8
9   [193, 448, 222, 612, 238, 540].jpg        8
10  [193, 487, 154, 657, 283, 586].jpg        8
11   [193, 493, 64, 634, 274, 515].jpg        8
12  [193, 494, 192, 634, 262, 519].jpg        8
13  [193, 531, 181, 706, 306, 496].jpg        8
14  [193, 532, 181, 706, 306, 496].jpg        8
15  [193, 599, 161, 694, 308, 371].jpg        8
16  [193, 602, 143, 634, 272, 545].jpg        8
17  [193, 733, 103, 634, 275, 547].jpg        8
18  [193, 806, 184, 672, 296, 347].jpg        8
19  [194, 318, 106, 634, 274, 515].jpg        8
20   [194, 342, 43, 637, 277, 402].jpg        8
21  [194, 417, 151, 646, 275, 409].jpg        8
22  [194, 425, 154, 644, 274, 482].jpg        8
23   [194, 439, 70, 634, 274, 434].jpg        8
24   [194, 446, 70, 634, 276, 352].jpg        8
25  [194, 483, 103, 634, 273, 478].jpg        8
26  [194, 499, 248, 678, 277, 482].jpg        8
27  [194, 584, 181, 688, 301, 482].jpg        8
28  [194, 682, 161, 693, 311, 360].jpg        8
29  [194, 806, 155, 672, 305, 392].jpg        8
30  [195, 677, 241, 634, 258, 508].jpg        8